.container{
    margin: 2% 10%;
    display: flex;
    justify-content: center;    
}

.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px  #DA001E;
    width: 70%;
    margin-bottom: 20px;
}

.product:hover {
    box-shadow: 0 0 20px #151217;
}

.product img{
    display: block;
    width: 70%;
    margin: auto;
    box-shadow: 0 0 10px  #151217;
    
}